/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2022, 8:06:57 PM
    Author     : user
*/
.kotak {
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    border: 15px solid;
    padding: 50px;
    margin: 20px;
    
}

