<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css"
              </head>
    <body>
        
        <div class="kotak" 
        <h1> <center> <b>KTP</b></center></h1>
        <hr/>
        <p th:text="${kirimanNama}"></p> 
        <p th:text="${kirimanTglahir}"></p>
        <p th:text="${kirimanJk}"></p>
        <p th:text="${kirimanAlamat}"></p>
        <br>
        <img th:src="${kirimanGambar}" width="200" height="200" align="right"></p>
</body>
</html>
